<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.pathnxt.irctcTest.verifyNumberOfTrainsTest"/>
      <class name="com.pathnxt.hyrtutorials.WindowHandleTest"/>
      <class name="com.pathnxt.redbusTest.calculateTotaBusesTest"/>
      <class name="com.pathnxt.jquery.DragAndDropTest"/>
      <class name="com.pathnxt.hyrtutorials.HandleNewTabTest"/>
      <class name="com.pathnxt.hyrtutorials.MultipleWindowsTest"/>
      <class name="com.pathnxt.irctcTest.verifySuccessfulLaunchTest"/>
      <class name="com.pathnxt.redbusTest.verifySucessfulLaunchingTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
